extends ../template/layout 

block content 
  h1= title

  p #[strong Admin access is required to submit this form.]
  br

  form(method="POST" action="")
    div.form-group
      label(for="password") Password: 
      input#password.form-control(type="password" name="password" required=true)

    div.form-group
      label(for="name") Genre: 
      input#name.form-control(type="text" placeholder="Action, Adventure, etc..." name="name" required=true value=(genre === undefined ? "" : genre.name))

    button.btn.btn-primary(type="submit") Submit

  if errors 
    ul 
      for error in errors 
        li!= error.msg